{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 center-align mtin">
        <a href="{{ url_for('new_sells') }}" class="btn-large light-yellow darken-2">
            Add New Sold data<i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>


<ul class="collapsible">
    {% for sell in sells %}
        <li>
            <div class="collapsible-header  blue-grey">
                <i class="fa-solid fa-caret-down"></i>
                <strong>{{ sell.sold_name }} : </strong> : {{ sell.sold_date }}
                
            </div>
            <div class="collapsible-body carda"><strong>{{ sell.sold_to }} |</strong>
                {{ sell.sold_total }}
                
                <div class="card-action cardad">
                    <a href="{{ url_for('edit_sold', sells_id=sells.sold_id) }}" class="btn btn-green">Edit</a>
                    <a href="" class="btn red">Delete</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}